@model IEnumerable<Dchang_BugTracker.Models.ManageRolesViewModel>
@{
    ViewBag.Title = "Manage Roles";
}

<style>
    .Wide {
        width: 100%;
        height: 200px;
    }

    .sWide {
        width: 100%;
    }
</style>

<div class="page-header">
    <h4 class="page-title">@ViewBag.Title</h4>
    @*<ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Manage Roles</a>
            </li>
        </ul>*@
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col">
                                    @Html.ListBox("UserIds", null, new { @class = "Wide" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Html.DropDownList("Role", null, "--Select Role--", new { @class = "sWide" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">

                        <table class="table table-hover table-head-bg-primary table-striped Dtable">
                            <thead>
                                <tr>
                                    <th scope="col" width="40%">
                                        @Html.DisplayName("User Name")
                                    </th>
                                    <th scope="col" width="40%">
                                        @Html.DisplayName("Role")
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => user.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => user.RoleName)
                                    </td>
                                </tr>
                            }

                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


