@using Dchang_BugTracker.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BugTracker Login - Please Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Images/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/main.css" rel="stylesheet" />
    <link href="~/Content/Login/util.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <style>
        #log_leftimg {
            z-index: 4;
            position: absolute;
            bottom: 0;
            top: 136px;
            left: -90px;
            right: 0px;

        }
        #log_rightimg {
            width: 100px;
            height: 100px;
            z-index: 5;
            position: absolute;
            bottom: 0;
            top: 330px;
            left: 280px;
            right: 0px;
        }

        .demopic {
            border-radius: 50px 50px 50px 50px;
            border: solid #FFFFFF 3px;
            box-shadow: 5px 5px 2px #556385;
            width: 80px;
            height: 80px;
        }

    </style>

</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-25 p-b-25">
                <img src="~/Images/test.png" id="log_leftimg">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login100-form validate-form flex-sb flex-w" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title p-b-32 text-center">
                        Bugtracker Login
                    </span>
                    <span class="txt1 p-b-11">
                        Username
                    </span>
                    <div class="wrap-input100 validate-input m-b-36 form-group" data-validate="Username is required">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100", name = "username" })
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Password
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        @Html.PasswordFor(m => m.Password, new { @class = "input100", name = "pass" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-48">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account", null, new { @class = "txt1" }) <br />
                            @Html.ActionLink("Register as a new user", "Register", "Account", null, new { @class = "txt1" }) <br />


                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                Login as Demo User
                            </button>

                            @*<a href="#" class="txt3">
            Forgot Password?
        </a>*@
                        </div>
                    </div>

                    <div class="container-login100-form-btn">

                        <button class="login100-form-btn">
                            Login
                        </button>
                        <img src="~/Images/bug.png" id="log_rightimg">
                    </div>

                }
            </div>
        </div>

    </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    @*<div id="dropDownSelect1"></div>*@

    <!--===============================================================================================-->
    <script src="~/Scripts/Login/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/animsition.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/popper.js"></script>
    <script src="~/Scripts/Login/bootstrap.min.js"></script>
    <script src="~/Scripts/Login/jquery.validate.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/moment.js"></script>
    <script src="~/Scripts/Login/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/main.js"></script>
    <script src="~/Scripts/atlantis.min.js"></script>
</body>
</html>