@using Dchang_BugTracker.Models
@using Microsoft.AspNet.Identity
@using Dchang_BugTracker.Helper


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>BugTracker</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="~/Images/fav_icon.png" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/Scripts/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../../Content/main/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>



    <!-- CSS Files -->
    <link href="~/Content/main/atlantis.min.css" rel="stylesheet" />
    <link href="~/Content/main/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main/scroller.css" rel="stylesheet" />
    <!--Datatable Files-->
    <link href="~/Content/main/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/main/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/main/morris.css" rel="stylesheet" />

    <style>
        .alink {
            color: #f0f0f0;
            margin-left: 15px;
            font-family: inherit;
            font-size: 14px;
            font-weight: 400;
        }

        .ntfy-time {
            text-align: right;
            font-size: 8pt;
            margin: 0 0 0 0;
        }

        .ntfy-message {
            text-align: left;
            font-size: 8pt;
            margin: 2px 2px 2px 9px;
        }

        .xbtn {
            padding: 0 5px 0 0;
            text-align: right;
            font-size: 16pt;
            font-weight: 400;
            margin: 0px 0px 0px 0px;
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            overflow: hidden;
            outline: none;
        }

        hr.msg-line {
            border-top: 1px solid #D3E2F1;
            padding: 0;
            margin: 0;
        }

        .messages-notif-box .notif-center a:hover, .notif-box .notif-center a:hover {
            background: #F3F9FF;
        }

        .table-head-bg-primary thead th {
            background: #1f283e !important;
            background-image: linear-gradient(180deg, #1f283e, #556385) !important;
            color: #fff !important;
            text-shadow: 1px 1px 3px black;
            border: 0 !important
        }

        .table-head-bg-primary thead {
            border: 0px solid #000000 !important;
        }

        .badge-orange {
            color: #FFF;
            background-color: #ff7f50;
        }

        .badge-low {
            color: #FFF;
            background-color: #5d9ccb;
        }

        .main-header {
            background: none;
            box-shadow: none;
            min-height: 60px;
            width: 100%;
            position: fixed;
            z-index: 1001;
        }

        .cp_footer {
            font-family: Raleway-SemiBold;
            font-size: 9px;
            color: #8d9498;
            line-height: 1.4;
            text-transform: uppercase;
            background-color: #1f283e;
        }

        .cp_footerlink {
            font-family: Raleway-SemiBold;
            font-size: 9px;
            color: #8d9498;
            line-height: 1.4;
            text-transform: uppercase;
        }

        .footer {
            margin: 18px 0px 0px 0px;
        }

        .page-title {
            font-size: 14px;
            font-weight: 600;
            color: #444;
            line-height: 30px;
            margin-bottom: 20px
        }

        .repo {
            color: #8d9498;
            text-transform: uppercase;
        }
        .sidebg 
        {
            background-color: #1f283e;
            background-image: linear-gradient(360deg, #1f283e, #556385);
        }
        .links a:link, .links a:visited, .links a:active {
            color:#0094ff;
        }
        .links a:hover {
            color: #73c1ed;
            text-decoration: none;
        }
    </style>

</head>
<body data-background-color="bg3">


    @{
        var db = new ApplicationDbContext();
        var user = db.Users.Find(User.Identity.GetUserId());
    }

    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark2">

                <a href="@Url.Action("Dashboard","Home")" class="logo">
                    <img src="~/Images/logo_sm_txt.png" alt="navbar brand" class="navbar-brand" style="width:172px; height:49px;">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark2">

                <div class="container-fluid">
                    <div class="collapse" id="search-nav">
                        @*<form class="navbar-left navbar-form nav-search mr-md-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="submit" class="btn btn-search pr-1">
                                            <i class="fa fa-search search-icon"></i>
                                        </button>
                                    </div>
                                    <input type="text" placeholder="Search ..." class="form-control">
                                </div>
                            </form>*@
                    </div>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        @*<li class="nav-item toggle-nav-search hidden-caret">
                                <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>*@

                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                @if (NotificationHelper.GetUnreadNotifications().Count() != 0)
                                {
                                <span class="notification">@NotificationHelper.GetUnreadNotifications().Count()</span>
                                }
                                else 
                                { }
                            </a>
                            <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                <li>
                                    <div class="dropdown-title">You have @NotificationHelper.GetUnreadNotifications().Count() new notification(s)</div>
                                </li>
                                @if (NotificationHelper.GetUnreadNotifications().Count() != 0)
                                {
                                    <div class="thescrollbar force-overflow" id="scroll-notif" style="margin:0; padding:0">
                                         @foreach (var unreadNotification in NotificationHelper.GetUnreadNotifications().OrderByDescending(c => c.Created))
                                            {
                                                <li>
                                                    @using (Html.BeginForm("Dismiss", "TicketNotifications", FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.Hidden("Id", unreadNotification.Id)

                                                        <div>

                                                            <div class="notif-center" id="notif_top">
                                                                <div class="text-right"><button type="submit" class="xbtn">&times;</button></div>
                                                                <a href="#notif_top">
                                                                    <div class="notif-icon notif-primary"> <img src="@unreadNotification.Sender.AvatarPath" class="avatar avatar-img rounded-circle"> </div>
                                                                    <div class="notif-content">
                                                                        <span class="block ntfy-message">
                                                                            <strong>@unreadNotification.Sender.DisplayName:</strong> @unreadNotification.NotificationBody
                                                                        </span>
                                                                        <div class="ntfy-time">
                                                                            <span>@unreadNotification.Created.ToString("MMM dd, yyyy")</span>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <hr class="msg-line" />


                                                            </div>
                                                        </div>
                                                    }

                                                </li>
                                            }
                                    </div>
                                    <li>
                                        <a class="see-all" href="@Url.Action("Index", "TicketNotifications")">See all notifications<i class="fa fa-angle-right"></i></a>
                                    </li>
                                }
                            </ul>
                        </li>

                        @if (user != null)
                        {
                            <li class="nav-item dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="@user.AvatarPath" alt="..." class="avatar-img rounded-circle">
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <div class="dropdown-user-scroll scrollbar-outer">
                                        <li>
                                            <div class="user-box">
                                                <div class="avatar-lg"><img src="@user.AvatarPath" alt="image profile" class="avatar-img rounded"></div>
                                                <div class="u-text">

                                                    <h4>@user.DisplayName</h4>

                                                    <p class="text-muted">@user.Email</p>
                                                    @Html.ActionLink("View Profile", "EditProfile", "Home", null, new { @class = "btn btn-xs btn-primary btn-sm" })

                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                            @*<a class="dropdown-item" href="#">Account Setting</a>*@
                                            @Html.ActionLink("Log off", "LogOut", "Account", null, new { @class = "dropdown-item" })
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2 sidebg" data-background-color="dark">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            @if (user != null)
                            {
                                <img src="@user.AvatarPath" alt="..." class="avatar-img rounded-circle">
                            }
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    @if ((user != null) && !User.IsInRole("Unregistered"))
                                    {
                                        @user.FullName
                                        <span class="user-level">@user.MyRole</span>
                                    }
                                    @if (User.IsInRole("Unregistered"))
                                    {
                                        @user.FullName
                                    }
                                    <span class="caret"></span>
                                </span>

                            </a>
                            <div class="clearfix"></div>

                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        @Html.ActionLink("Profile", "EditProfile", "Home", null, new { @class = "link-collapse alink" })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-primary">
                        <li class="nav-item active">
                            <a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="dashboard">
                                <ul class="nav nav-collapse">
                                    <li>
                                        @Html.ActionLink("Home", "Dashboard", "Home", null, new { @class = "sub-item" })
                                    </li>
                                  @*<li>
                                        @Html.ActionLink("Directory", "Contacts", "Home", null, new { @class = "sub-item" })
                                    </li>*@
                                    <li>@Html.ActionLink("Notifications", "Index", "TicketNotifications", null, new { @class = "sub-item" })</li>
                                    <li>@Html.ActionLink("Log off", "LogOut", "Account", null, new { @class = "sub-item" })</li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-section"></li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Demo Admin"))
                        {
                            <li class="nav-item">
                                <a data-toggle="collapse" href="#adminctl">
                                    <i class="fas fa-crown"></i>
                                    <p>Admin</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="adminctl">
                                    <ul class="nav nav-collapse">
                                        <li>@Html.ActionLink("Manage Roles", "ManageRoles", "Admin", null, new { @class = "sub-item" })</li>
                                    </ul>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole("Unregistered"))
                        {
                            <li class="nav-section"></li>
                        }
                        else
                        {
                            if (User.IsInRole("Admin") || User.IsInRole("Demo Admin") || User.IsInRole("Project Manager") || User.IsInRole("Demo Project Manager"))
                            {
                                <li class="nav-item">
                                    <a data-toggle="collapse" href="#prj">
                                        <i class="far fa-clone"></i>
                                        <p>Projects</p>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="prj">
                                        <ul class="nav nav-collapse">

                                            @if (User.IsInRole("Admin") || User.IsInRole("Demo Admin"))
                                            {
                                                <li>@Html.ActionLink("Create Projects", "Create", "Projects", null, new { @class = "sub-item" })</li>
                                                <li>@Html.ActionLink("Assign Projects", "ManageProjectUsers", "Admin", null, new { @class = "sub-item" })</li>
                                                <li>@Html.ActionLink("View Projects", "Index", "Projects", null, new { @class = "sub-item" })</li>
                                            }
                                            @if (User.IsInRole("Project Manager") || User.IsInRole("Demo Project Manager"))
                                            {
                                                <li>@Html.ActionLink("Create Projects", "Create", "Projects", null, new { @class = "sub-item" })</li>
                                                <li>@Html.ActionLink("View Projects", "Index", "Projects", null, new { @class = "sub-item" })</li>
                                            }


                                        </ul>
                                    </div>
                                </li>
                            }



                            <li class="nav-item">
                                <a data-toggle="collapse" href="#tickets">
                                    <i class="fas fa-ticket-alt"></i>
                                    <p>Tickets</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="tickets">
                                    <ul class="nav nav-collapse">
                                        <li>@Html.ActionLink("View All", "Index", "Tickets", null, new { @class = "sub-item" })</li>
                                        @if (User.IsInRole("Submitter") || User.IsInRole("Demo Submitter"))
                                        {
                                            <li>@Html.ActionLink("Create", "Create", "Tickets", null, new { @class = "sub-item" })</li>

                                        }
                                        <li>@Html.ActionLink("Ticket History", "Index", "TicketHistories", null, new { @class = "sub-item" })</li>

                                    </ul>
                                </div>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="content">
                <div class="page-inner">

                    @RenderBody()

                </div>
            </div>
            <footer class="footer cp_footer">
                <div class="container-fluid">
                    <div>
                        <a href="https://github.com/dantsab87/Dchang_BugTracker" class="repo">View Repository</a>
                    </div>
                    <div class="copyright ml-auto">
                        &copy; 2019 Modified by <a href="https://danielchangportfolio.azurewebsites.net/" class="cp_footerlink">Daniel Chang</a> |
                        Theme @*<i class="fa fa-heart heart text-danger"></i>*@ by <a href="https://www.themekita.com" class="cp_footerlink">ThemeKita</a>
                    </div>
                </div>
            </footer>
        </div>

    </div>

    <!--   Core JS Files   -->
    <script src="~/Scripts/jquery.3.2.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/Scripts/bootstrap-notify.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/Scripts/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="~/Scripts/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/Scripts/jquery.sparkline.min.js"></script>


    <!-- Chart Circle -->
    <script src="~/Scripts/circles.min.js"></script>


    <!-- Datatables -->
    <script src="~/Scripts/datatables.min.js"></script>



    <!-- jQuery Vector Maps -->
    <script src="~/Scripts/jquery.vmap.min.js"></script>
    <script src="~/Scripts/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    @*<script src="~/Scripts/sweetalert.min.js"></script>*@

    <!-- Atlantis JS -->
    <script src="~/Scripts/atlantis.min.js"></script>



    <!--Datatabbles JS-->
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>


    <script>$('.Dtable').DataTable();</script>

    <script>
        $(function () {
            $("#divedit").hide();
            $("#showedit").on("click", function () {
                $("#div1, #divedit").toggle();
            });
        });
    </script>


    <script>
        var message = '@Session["Message"]';
        if (message != '') {
            Swal.fire({
                icon: 'warning',
                title: 'Sorry!',
                text: message
            })
            @{HttpContext.Current.Session.Remove("Message");}
        }
    </script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>