@model IEnumerable<Dchang_BugTracker.Models.TicketNotification>

@{
    ViewBag.Title = "Ticket Notification";
}

    <style>
        .table td, .table th {
            font-size: 9pt;
        }

        .opacity {
            opacity: 0.4;
            filter: alpha(opacity=40);
            zoom: 1;
        }
    </style>


<h2>@ViewBag.Title</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table Dtable table-head-bg-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Developer")
            </th>
            <th>
                @Html.DisplayName("Submitter")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationBody)
            </th>
        </tr>
    </thead>
@foreach (var item in Model.OrderByDescending(c => c.Created)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Recipient.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket.OwnerUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotificationBody)
        </td>
    </tr>
}

</table>
