@model Dchang_BugTracker.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>BugTracker Login - Please Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Images/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/main.css" rel="stylesheet" />
    <link href="~/Content/Login/util.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <style>
        #log_leftimg {
            z-index: 4;
            position: absolute;
            bottom: 0;
            top: 136px;
            left: -90px;
            right: 0px;
        }

        #log_rightimg {
            width: 100px;
            height: 100px;
            z-index: 5;
            position: absolute;
            bottom: 0;
            top: 330px;
            left: 280px;
            right: 0px;
        }
    </style>

</head>
<body>




    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


    <!--===============================================================================================-->
    <script src="~/Scripts/Login/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/animsition.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/popper.js"></script>
    <script src="~/Scripts/Login/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/moment.js"></script>
    <script src="~/Scripts/Login/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/main.js"></script>
    <script src="~/Scripts/atlantis.min.js"></script>
</body>
</html>