@using Dchang_BugTracker.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BugTracker Login - Please Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Images/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/main.css" rel="stylesheet" />
    <link href="~/Content/Login/util.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <style>

        a:hover {
            color: #808caa;
            text-shadow: 1px 1px 1px #c6ccdb;
        }
        body {
            background-color: #c6ccdb;
        }
        .container-login100{
            background-color: #c6ccdb;
        }

        #log_leftimg {
            z-index: 4;
            position: absolute;
            bottom: 0;
            top: 160px;
            left: -94px;
            right: 0px;

        }

        #log_bugimg {
            width: 100px;
            height: 100px;
            z-index: 5;
            position: relative;
            bottom: 0;
            top: 10px;
            left: -10px;
            right: 0px;
        }

        .demopic {
            border-radius: 10px 10px 10px 10px;
            border: solid #FFFFFF 3px; 
            box-shadow: 3px 3px 2px #556385;
            width: 50px;
            height: 50px;
        }

        .center-align{
            text-align:center;
            display: block;
        }

        .up-a-few {
            top: -30px;
        }
        .demo-role-description {
            font-family: Raleway-SemiBold;
            font-style: oblique;
            font-size: 10px;
            text-align: left;
            color: #555555;
            line-height: 1.6;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
        }
        .demo-head{
            font-family: Raleway-SemiBold;
            text-align: left;
            font-size: 10px;
            font-weight: 900;
            color: #000000;
            line-height: 1.6;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
        }


        div.login-hl:hover {
            background-color: #808caa;
            background-image: linear-gradient(285deg, #c6ccdb, #808caa);
            border-radius: 4px;
            text-shadow: 0px 1px 1px #c6ccdb;
        }


        .login100-form-btn:hover {
            background-color: #808caa;
            background-image: linear-gradient(145deg, #c6ccdb, #808caa);
            text-shadow: 1px 1px 3px black;
        }

       
        .wrap-login100{

            box-shadow: 2px 6px 15px 0 rgba(69,65,78,.3);
        }

        .wrap-demologin100{
            width: 400px;
            border-radius: 10px;
            position: relative;
        }

    </style>

</head>
<body>

    <div class="limiter">
        <div class="container-login100">     
            <div class="wrap-login100 p-l-55 p-r-55 p-t-25 p-b-0">
                <img src="~/Images/test.png" id="log_leftimg" >
                @*<img src="~/Images/bug.png" id="log_bugimg">*@
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login100-form validate-form flex-sb flex-w" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title p-b-32 text-center">
                        Bugtracker Login
                    </span>
                    <span class="txt1 p-b-11">
                        Username
                    </span>
                    <div class="wrap-input100 validate-input m-b-36 form-group" data-validate="Username is required">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100", name = "username" })
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Password
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        @Html.PasswordFor(m => m.Password, new { @class = "input100", name = "pass" })
                        <span class="focus-input100"></span>
                    </div>


                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn btn-block">
                            Login
                        </button>
                    </div>

                    <div class="flex-sb-m w-full p-b-50">

                        <div class="text-center">
                            @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account", null, new { @class = "txt1" })  |
                            @Html.ActionLink("Register as a new user", "Register", "Account", null, new { @class = "txt1" }) <br />
                            <a class="txt1 p-b-1 demo-log" data-toggle="collapse" href="#demouser" aria-expanded="false" aria-controls="#demouser">
                                Login as Demo User
                            </a>
                        </div>
                    </div>
                }
                <!--#region Demologin-->
                <div class="row">
                    <div class="collapse wrap-demologin100 p-b-10 up-a-few" id="demouser" style="z-index:6;">
                        <div>
                            <!--Admin Login-->
                            @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("emailKey", "DemoAdminEmail")
                                <button class="btn-block" type="submit">
                                    <div class="row login-hl">

                                        <div class="col-2 p-l-0 p-r-0 p-t-3 p-b-3">
                                            <img src="~/Avatars/jan.jpg" class="demopic">
                                        </div>
                                        <div class="col p-l-3 p-r-0 p-t-2 p-b-3">
                                            <p class="demo-head">Admin</p>
                                            <p class="demo-role-description">
                                                The Overseer, capable of everything! <BR>(Except ticket creation)
                                            </p>
                                        </div>
                                    </div>
                                </button>
                            }
                            <!--Project Manager Login-->
                            @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("emailKey", "DemoPMEmail")
                                <button class="btn-block" type="submit">
                                    <div class="row login-hl">
                                        <div class="col-2 p-l-0 p-r-0 p-t-3 p-b-3">
                                            <img src="~/Avatars/josh.jpg" class="demopic">
                                        </div>
                                        <div class="col p-l-3 p-r-0 p-t-0 p-b-3">
                                            <p class="demo-head">Project Manager</p>
                                            <p class="demo-role-description">
                                                Manage developers and submitters on their assigned project(s).
                                            </p>
                                        </div>
                                    </div>
                                </button>
                            }
                            <!--Developer Login-->
                            @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("emailKey", "DemoDevEmail")
                                <button class="btn-block" type="submit">
                                <div class="row login-hl">
                                    <div class="col-2 p-l-0 p-r-0 p-t-3 p-b-3">
                                        <img src="~/Avatars/karen.jpg" class="demopic">
                                    </div>
                                    <div class="col p-l-3 p-r-0 p-t-0 p-b-3">
                                        <p class="demo-head">Developer</p>
                                        <p class="demo-role-description">
                                            Work on tickets they're assigned to.
                                        </p>
                                    </div>
                                </div>
                                </button>
                            }
                            <!--Submitter Login-->
                            @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("emailKey", "DemoSubEmail")
                                <button class="btn-block" type="submit">
                                <div class="row login-hl">
                                    <div class="col-2 p-l-0 p-r-0 p-t-3 p-b-3">
                                        <img src="~/Avatars/pam.jpg" class="demopic">
                                    </div>
                                    <div class="col p-l-3 p-r-0 p-t-0 p-b-3">
                                        <p class="demo-head">Submitter</p>
                                        <p class="demo-role-description">
                                            Create tickets.
                                        </p>
                                    </div>
                                </div>
                                </button>
                            }
                            </div>
                    </div>
                </div>
                <!--#endregion-->
        </div>
        </div>
    </div>

    @*<div id="dropDownSelect1"></div>*@

    <!--===============================================================================================-->
    <script src="~/Scripts/Login/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/animsition.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/popper.js"></script>
    <script src="~/Scripts/Login/bootstrap.min.js"></script>
    <script src="~/Scripts/Login/jquery.validate.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/moment.js"></script>
    <script src="~/Scripts/Login/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/main.js"></script>
    <script src="~/Scripts/atlantis.min.js"></script>

    <script>
        $('.demo-log').on({
            'click': function () {
                $('#log_leftimg').attr('src', '/Images/testlog.png')
            }
        });
    </script>
</body>
</html>