@model IEnumerable<Dchang_BugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<style>
.table td, .table th {
        font-size: 9pt;
    }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table Dtable table-head-bg-primary">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.AssignedToUser.FirstName)*@ Developer
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.OwnerUser.FirstName)*@ Submitter
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Project.Name)*@ Project Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TicketPriority.PriorityName)*@ Priority
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TicketStatus.StatusName)*@ Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            <span class="badge badge-danger">@Html.DisplayFor(modelItem => item.TicketPriority.PriorityName)</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatus.StatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
        @Html.ActionLink("Assign", "AssignTicket", new { id = item.Id })
    </td>
    </tr>
}

</table>
