@model Dchang_BugTracker.Models.Project
@using Dchang_BugTracker.Models
@using Microsoft.AspNet.Identity
@using Dchang_BugTracker.Helper

@{
    ViewBag.Title = "Project Details";

    var db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());

    var roleHelper = new RoleHelper();
    var role = roleHelper.ListUserRoles(user.Id).FirstOrDefault();

    var projHelper = new ProjectHelper();
    var proj = projHelper.ListUserProjects(user.Id).FirstOrDefault();
}


<style>

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px
    }

    .ticket-top {
        background-color: #1f283e;
        background-image: linear-gradient(135deg, #1f283e, #556385);
        color: #FFFFFF;
        padding: 8px 8px 8px 8px;
    }

    .ticket_create {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #FFFFFF;
        background-clip: border-box;
        border: 0px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        box-shadow: 0 .25rem 1rem rgba(0,0,0,.15) !important
    }

    .tk_sidebg {
        background-image: url('../../Images/side_bg.jpg');
        background-repeat: no-repeat;
        width: 30px;
        margin: 0;
        padding: 0;
    }

    .ticket_bg {
        background-image: url('../../Images/proj_butterfly_bg.jpg');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-color: #FFFFFF;
    }

    .create_btn {
        padding: 10px;
        margin: 40px 10px 10px 20px;
        text-align: center;
        width: 80px;
        height: 80px;
    }

    .padded {
        padding: 30px 40px 20px 30px;
    }

    .between {
        padding: 10px 0 0 0;
    }

    .pad-right {
        padding: 0 10px 0 0;
    }

    .pad-bottom {
        padding: 0 0 10px 0;
    }

    .btn-attach, .btn-attach a:hover, .btn-attach a:hover, .btn-attach a:link, .btn-attach a:active, .btn-attach a:visited {
        color: #1f283e;
        font-size: 9pt;
        text-transform: uppercase;
        text-decoration: none;
    }

    .ticket-assigned-img {
        border-radius: 11px;
        border: solid #FFFFFF 3px;
        box-shadow: 3px 3px 2px #556385;
        width: 40px;
        height: 40px;
        margin: 0px 3px 8px 9px;
    }

    .font-role {
        font-size: 9pt;
        font-weight: bold;
        padding-bottom: 0px;
        margin-bottom: -8px;
    }

    .grow {
        transition: all .3s ease-in-out;
    }

    .grow:hover {
        transform: scale(1.2);
    }
    .icon-padding {
        padding: 0 0 5px 0;
    }
    .icon-img{
        width: 16px;
        height: 16px;
    }

    .head1 {
        color: #FFFFFF;
        text-shadow: 1px 1px 3px black;
        font-size: 14px;
        font-weight: 700;
        margin-left: 30px;
    }

    .subhead1 {
        margin: -5px 0px 3px 8px;
        color: #999999;
        font-size: 11px;
        text-shadow: 1px 1px 3px black;
        text-transform: uppercase;
        margin-left: 35px;
    }
</style>

<h6 class="page-title">@ViewBag.Title</h6>


<div class="row">
    <div class="col">
        <div class="container ticket_create ticket_bg">
        <div class="row">
            <div class="col-1 tk_sidebg" style="width:30px"></div>
            <div class="col-11">
                <div class="padded">
                    <div class="row">
                        <div class="col pad-right pad-bottom">
                            <small>@Html.DisplayNameFor(model => model.Name)</small>
                            <BR>
                            @Html.DisplayFor(model => model.Name)
                        </div>
                        <div class="col pad-right pad-bottom">
                            <small>@Html.DisplayNameFor(model => model.Description)</small>
                            <BR>
                            @Html.DisplayFor(model => model.Description)
                        </div>
                        <div class="col pad-right pad-bottom">
                            <small>@Html.DisplayNameFor(model => model.Created)</small>
                            <BR>
                            @Html.DisplayFor(model => model.Created)
                        </div>
                    </div>
                    <div class="row padded">
                        <div class="col">
                            <div class="row between">
                                <div class="col-xs font-role">
                                    Project Manager:
                                </div>
                            </div>
                            <div class="row between bottom">
                                <div class="col-xs">
                                    @foreach (var item in Model.Users)
                                    {
                                        if (item.MyRole.Contains("Project Manager") || item.MyRole.Contains("Demo Project Manager"))
                                        {
                                            <span>
                                                <img src="@Html.DisplayFor(model => item.AvatarPath)" class="ticket-assigned-img" />
                                                <small>@Html.DisplayFor(modelItem => item.DisplayName)</small>
                                            </span>
                                        }
                                    }
                                </div>
                            </div>



                            <div class="row between">
                                <div class="col-xs font-role">
                                    Developer(s):
                                </div>
                            </div>
                            <div class="row between">
                                <div class="col-xs">
                                    @foreach (var item in Model.Users)
                                    {
                                        if (item.MyRole.Contains("Developer") || item.MyRole.Contains("Demo Developer"))
                                        {
                                            <span>
                                                <img src="@Html.DisplayFor(model => item.AvatarPath)" class="ticket-assigned-img" />
                                                <small>@Html.DisplayFor(modelItem => item.DisplayName)</small>
                                            </span>
                                        }
                                    }
                                </div>
                            </div>


                            <div class="row between">
                                <div class="col-xs font-role">
                                    Submitter(s):
                                </div>
                            </div>
                            <div class="row between">
                                <div class="col-xs">
                                    @foreach (var item in Model.Users)
                                    {
                                        if (item.MyRole.Contains("Submitter") || item.MyRole.Contains("Demo Submitter"))
                                        {
                                            <span>
                                                <img src="@Html.DisplayFor(model => item.AvatarPath)" class="ticket-assigned-img" />
                                                <small>@Html.DisplayFor(modelItem => item.DisplayName)</small>
                                            </span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn-attach">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</button> <button class="btn-attach">@Html.ActionLink("Back to List", "Index")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="row" style="height:30px">
</div>
<div class="row">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="ticket-top">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col head1">Ticket(s)</div>
                                    </div>
                                    <div class="row">
                                        <div class="col subhead1">List of all Tickets inside the Project</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ticket_bg">



                            <div class="table-responsive">
                                <table class="table Dtable table-head-bg-primary">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                @Html.DisplayName("Developer")
                                            </th>
                                            <th width="5%">
                                                @Html.DisplayName("Submitter")
                                            </th>
                                            <th width="5%">
                                                @Html.DisplayName("Priority")
                                            </th>
                                            <th width="5%">
                                                @Html.DisplayName("Status")
                                            </th>
                                            <th width="5%">
                                                @Html.DisplayName("Type")
                                            </th>
                                            <th width="10%">
                                                @Html.DisplayName("Title")
                                            </th>
                                            <th width="45%">
                                                @Html.DisplayName("Description")
                                            </th>
                                            <th width="5%">
                                                @Html.DisplayName("Created")
                                            </th>
                                            <th width="5%">
                                                @Html.DisplayName("Updated")
                                            </th>
                                            <th width="5%">
                                                @Html.DisplayName("Manage")
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model.Tickets)
                                    {
                                        var prty = item.TicketPriority.PriorityName;
                                        var arch = item.TicketStatus.StatusName;
                                        var none = "badge badge-count";
                                        var low = "badge badge-low";
                                        var med = "badge badge-warning";
                                        var high = "badge badge-orange";
                                        var urgent = "badge badge-danger";
                                        var nonopen = arch.Contains("Assigned") || arch.Contains("In Progress") || arch.Contains("Resolved") || arch.Contains("Archived");

                                        if (arch.Contains("Archived") || arch.Contains("Resolved"))
                                        {
                                            <tr class="opacity">
                                                <td class="text-center">
                                                    @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
                                                </td>
                                                <td class="text-center">
                                                    @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                                                </td>
                                                <td>

                                                    @if (prty.Contains("None"))
                                                    {
                                                        <span class="@none">@Html.DisplayFor(modelItem => item.TicketPriority.PriorityName)</span>
                                                    }
                                                    else if (prty.Contains("Low"))
                                                    {
                                                        <span class="@low">@Html.DisplayFor(modelItem => item.TicketPriority.PriorityName)</span>
                                                    }
                                                    else if (prty.Contains("Medium"))
                                                    {
                                                        <span class="@med">@Html.DisplayFor(modelItem => item.TicketPriority.PriorityName)</span>
                                                    }
                                                    else if (prty.Contains("High"))
                                                    {
                                                        <span class="@high">@Html.DisplayFor(modelItem => item.TicketPriority.PriorityName)</span>
                                                    }
                                                    else if (prty.Contains("Urgent"))
                                                    {
                                                        <span class="@urgent">@Html.DisplayFor(modelItem => item.TicketPriority.PriorityName)</span>
                                                    }

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketStatus.StatusName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketType.TypeName)
                                                </td>
                                                <td>
                                                    <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Updated)
                                                </td>
                                                <td class="links text-center">

                                                    <div class="col icon-padding" data-toggle="tooltip" data-placement="bottom" title="Details">
                                                        <a href="@Url.Action("Details", "Tickets", new { id = item.Id })">
                                                            <img src="~/Images/file24x24.png" class="icon-img grow">
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        else if (arch.Contains("Open") || arch.Contains("Assigned") || arch.Contains("In Progress"))
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    @if (arch.Contains("Open"))
                                                    {
                                                        <div class="col icon-padding" data-toggle="tooltip" data-placement="bottom" title="Assign">
                                                            <a href="@Url.Action("AssignTicket", "Tickets", new { id = item.Id })">
                                                                <img src="~/Images/user_add_2.png" class="icon-img grow">
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
                                                    }

                                                </td>
                                                <td class="text-center">
                                                    @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                                                </td>
                                                <td>

                                                    @if (prty.Contains("None"))
                                                    {
                                                        <span class="@none">@Html.DisplayFor(modelItem => item.TicketPriority.PriorityName)</span>
                                                    }
                                                    else if (prty.Contains("Low"))
                                                    {
                                                        <span class="@low">@Html.DisplayFor(modelItem => item.TicketPriority.PriorityName)</span>
                                                    }
                                                    else if (prty.Contains("Medium"))
                                                    {
                                                        <span class="@med">@Html.DisplayFor(modelItem => item.TicketPriority.PriorityName)</span>
                                                    }
                                                    else if (prty.Contains("High"))
                                                    {
                                                        <span class="@high">@Html.DisplayFor(modelItem => item.TicketPriority.PriorityName)</span>
                                                    }
                                                    else if (prty.Contains("Urgent"))
                                                    {
                                                        <span class="@urgent">@Html.DisplayFor(modelItem => item.TicketPriority.PriorityName)</span>
                                                    }

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketStatus.StatusName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketType.TypeName)
                                                </td>
                                                <td>
                                                    <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Updated)
                                                </td>
                                                <td class="links text-center">
                                                    <div class="row">

                                                        <div class="col icon-padding" data-toggle="tooltip" data-placement="bottom" title="Edit">
                                                            <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })">
                                                                <img src="~/Images/pencil24x24.png" class="icon-img grow">
                                                            </a>
                                                        </div>
                                                        <div class="col icon-padding" data-toggle="tooltip" data-placement="bottom" title="Details">
                                                            <a href="@Url.Action("Details", "Tickets", new { id = item.Id })">
                                                                <img src="~/Images/file24x24.png" class="icon-img grow">
                                                            </a>
                                                        </div>

                                                        <div class="col icon-padding" data-toggle="tooltip" data-placement="bottom" title="Assign">
                                                            <a href="@Url.Action("AssignTicket", "Tickets", new { id = item.Id })">
                                                                <img src="~/Images/user_add_2.png" class="icon-img grow">
                                                            </a>
                                                        </div>

                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </table>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
