@model IEnumerable<Dchang_BugTracker.Models.Project>

@{
    ViewBag.Title = "Manage/Create Projects";
}
<style>
    .btn-attach, .btn-attach a:hover, .btn-attach a:hover, .btn-attach a:link, .btn-attach a:active, .btn-attach a:visited {
        color: #1f283e;
        font-size: 9pt;
        text-transform: uppercase;
        text-decoration: none;
    }
    .grow {
        transition: all .3s ease-in-out;
    }

    .grow:hover {
        transform: scale(1.2);
    }
    .icon-padding {
        padding: 5px;
    }
    .icon-img{
        width: 16px;
        height: 16px;
    }

</style>
<h4 class="page-title">@ViewBag.Title</h4>


@if (User.IsInRole("Project Manager") ||
    User.IsInRole("Demo Project Manager") ||
    User.IsInRole("Admin") ||
    User.IsInRole("Demo Admin"))

{
    <p><button class="btn-attach">@Html.ActionLink("Create New", "Create")</button></p>
}

<div class="table-responsive">
    <table class="table table-hover table-head-bg-primary table-striped Dtable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th width="15%">
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td class="links">

                        <div class="row">
                            <div class="col icon-padding">
                                <a href="@Url.Action("Edit", "Projects", new { id = item.Id })">
                                    <img src="~/Images/pencil24x24.png" class="icon-img grow" data-toggle="tooltip" data-placement="bottom" title="Edit">
                                </a>
                            </div>
                            <div class="col icon-padding">
                                <a href="@Url.Action("Details", "Projects", new { id = item.Id })">
                                    <img src="~/Images/file24x24.png" class="icon-img grow" data-toggle="tooltip" data-placement="bottom" title="Details">
                                </a>
                            </div>
                            <div class="col icon-padding">
                                <a href="@Url.Action("ManageUsers", "Projects", new { id = item.Id })">
                                    <img src="~/Images/user_add_2.png" class="icon-img grow" data-toggle="tooltip" data-placement="bottom" title="Manage Users">
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
