@model IEnumerable<Dchang_BugTracker.Models.Project>

@{
    ViewBag.Title = "Manage/Create Projects";
}
<style>
    .btn-attach, .btn-attach a:hover, .btn-attach a:hover, .btn-attach a:link, .btn-attach a:active, .btn-attach a:visited {
        color: #1f283e;
        font-size: 9pt;
        text-transform: uppercase;
        text-decoration: none;
    }
</style>
<h4 class="page-title">@ViewBag.Title</h4>


@if (User.IsInRole("Project Manager") ||
    User.IsInRole("Demo Project Manager") ||
    User.IsInRole("Admin") ||
    User.IsInRole("Demo Admin"))

{
    <p><button class="btn-attach">@Html.ActionLink("Create New", "Create")</button></p>
}

<div class="table-responsive">
    <table class="table table-hover table-head-bg-primary table-striped Dtable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th width="15%">
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td class="links">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <br />
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) <br />
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }) <br />*@
                        @Html.ActionLink("Manage Users", "ManageUsers", "Projects", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
